.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  text-align: center;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

*{
  background-image: url("/Rectangle\ 11.png");
}

input {
  font-size: 1rem;
}

.animals-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .75rem;
  background-color: white;
  margin-top: 1rem;
}

.card {
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
  padding: .5rem;
}

.card>.header {
  margin-bottom: .25rem;
  background-color: white;
}

.card>.body {
  font-size: .8rem;
  background-color: white;
  color: #777;
}

.hide {
  display: none;
}